.btn-outline-marrom {
  border: 2px solid #554A26!important;
  background-color: transparent!important;
  color: #554A26!important;
  font-weight: 500!important;
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem !important;
}
.btn-outline-vermelho{
  border: 2px solid #591B1B!important;
  background-color: transparent!important;
  color: #591B1B!important;
  font-weight: 500!important;
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem!important;
}
.btn-outline-vermelho-claro{
  border: 2px solid #733a3a!important;
  background-color: transparent!important;
  color: #733a3a!important;
  font-weight: 500!important;
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem!important;
}
.btn-outline-azul{
  border: 2px solid #2E554E!important;
  background-color: transparent!important;
  color: #2E554E!important;
  font-weight: 500!important;
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem!important;
}
.btn-outline-verde {
  border: 2px solid #4caf50!important;
  background-color: transparent!important;
  color: #4caf50!important;
  font-weight: 500!important;
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem!important;
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  /*-webkit-column-width: 33%;*/
  /*-moz-column-width: 33%;*/
  /*column-width: 33%;*/
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    /*-webkit-column-width: 100%;*/
    /*-moz-column-width: 100%;*/
    /*column-width: 100%;*/
  }
}
@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}