/*CSS PADRAO*/
.btn{     /*Correção para sobrepor o mdb.css pq botões estavam quebrando a '!' em outra linha'*/
  word-wrap: initial !important;
}
#navbar-wrapper{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.fw-400{
  font-weight: 400!important;
}
.fw-500{
  font-weight: 500!important;
}
.fw-600{
  font-weight: 600!important;
}
.texto-menor{
  font-size: 90% !important;
}
.texto-maior{
  font-size: 110%;
}
.size-085rem{
  font-size: 0.85rem!important;
}
.size-094rem{
  font-size: 0.94rem!important;
}
.size-1rem{
  font-size: 1rem!important;
}
.size-12rem{
  font-size: 1.2rem!important;
}
.size-13rem{
  font-size: 1.3rem!important;
}
.size-15rem{
  font-size: 1.5rem!important;
}
.size-2rem{
  font-size: 2rem!important;
}
.size-25rem{
  font-size: 2.5rem!important;
}
.size-3rem{
  font-size: 3rem!important;
}
.size-4rem{
  font-size: 4rem!important;
}
.size-5rem{
  font-size: 5rem!important;
}
.size-13em{
  font-size: 1.3em!important;
}
.size-15em{
  font-size: 1.5em!important;
}
.height100vh{
  min-height: 100vh;
}
.height90vh{
  min-height: 90vh;
}
.height80vh{
  min-height: 80vh;
}
.height70vh{
  min-height: 70vh;
}
.height60vh{
  min-height: 60vh;
}
.height50vh{
  min-height: 50vh;
}
.height30vh{
  min-height: 30vh;
}
.height20vh{
  min-height: 20vh;
}
.height15vh{
  min-height: 15vh;
}
.height10vh{
  min-height: 10vh;
}
.borderRadius7px{
    border-radius: 7px!important;
}
.w-30{
  min-width: 30% !important;
}
.hide-section{
  display: none !important;
}
.card-same-height {
  min-height: 100%;
}
@media (max-width: 425px) {
  .modal-fluid-custom{
    margin-top: 15% !important;
    max-width: 95%!important;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .modal-fluid-custom{
    margin-top: 11% !important;
    max-width: 95%!important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .modal-fluid-custom{
    margin-top: 7% !important;
    max-width: 95%!important;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .modal-fluid-custom{
    margin-top: 5% !important;
    max-width: 95%!important;
  }
}
@media (min-width: 1026px) and (max-width: 1920px) {
  .modal-fluid-custom{
    margin-top: 4% !important;
    max-width: 95%!important;
  }
}
@media (min-width: 1921px){
  .modal-fluid-custom{
    margin-top: 3% !important;
    max-width: 95%!important;
  }
}

/*Cores*/
.transparencia-preta{
  background-color: #00000066;
}
.transparencia-laranja{
  background-color: #bb54005b;
}
.transparencia-laranja-escuro{
  background-color: #8f00004d;
}
.btn-azul-escuro{
  background-color: #007a8e;
}
.btn-azul-escuro:hover{
  color: #073941!important;
}
.btn-azul-claro{
  background-color: #00b6d4;
  color: #000000 !important;
}
.btn-amarelo{
  background-color: #fee50d;
  color: #000000;
}
.btn-laranjado{
  background-color: #ff6f00;
}
.btn-outline-neutro{
  border: 2px solid #5e5e5e!important;
  background-color: transparent!important;
  color: #5e5e5e!important;
}
.btn-outline-azul-claro{
  border: 2px solid #06879c!important;
  background-color: transparent!important;
  color: #06879c!important;
}
.bg-color-azul-escuro{
  background-color: #004E5B;
}
.bg-azul-medio{
  background-color: #08399B;
}
.bg-color-azul-claro{
  background-color: #06879c;
}
.bg-color-azul-calcinha{
  background-color: #b6f6f3;
}
.bg-color-marrom-claro{
  background-color: #F8EDB8;
}
.bg-color-laranjado{
  background-color: #ff7200;
}
.text-azul-escuro >div > .card-header > a > h5{
  color: #06879c!important;
  font-weight: 500;
}
/*NAVBAR*/
.navbar {
  background-color: #00000040;
  font-size: 1rem;
}
.navbarBtn{
  border: 2px solid #dee2e6;
}
.top-nav-collapse > div > div > ul.navbar-nav.nav-flex-icons > li > .navbarBtn{
  border: 2px solid #000000;
}
.top-nav-collapse > div > div > ul.navbar-nav.mr-auto > li.nav-item.active > a {
  background-color: #00000029 !important;
}
.top-nav-collapse {
  background-color: #e0e0e0;
  color: #000000 !important;
}
.top-nav-collapse > div > #navbarSupportedContent > ul > li > .nav-link{
  color: #000 !important;
}
.top-nav-collapse > div > a > #logoBranca{
  display: none;
}
.top-nav-collapse > div > a > #logoColorida{
  display: inline!important;
}
@media (max-width: 768px) {
    .navbar {
        background-color: #e0e0e0;
        color: #000000 !important;
    }
    #logoBranca{
        display: none;
    }
    #logoColorida{
        display: inline!important;
    }
    #navbar-wrapper > div > button > div > span{
        background: #fd7d12!important;
    }
    #navbar-wrapper > div > div > ul.navbar-nav.mr-auto > li.nav-item.active > a {
      background-color: #00000029 !important;
    }
}
    /*NAVBAR - Animation*/
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.animated-icon1 span {
  background: #fff;
}
.top-nav-collapse > div > button > div > span{
  background: #fd7d12!important;
}
.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/*Home-Intro*/
#home-intro{
  background-image: url("../assets/bg-home-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
/*Home-Depoimentos*/
.testimonial-carousel .carousel-control{
  top: 16vh;
}
.testimonial-carousel .carousel-control:before{
  color: rgb(255, 111, 0) !important;
}
/*Home-Garantia100%*/
#home-garantia100{
  background-image: url('../assets/bg-textura-laranja.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 20vh !important;
  color: #ffffff;
}
#home-depoimentos-cta{
  min-width: 25%;
}
@media (min-width: 1000px) {
  #home-depoimentos-cta{
    min-width: 18%;
  }
}
/*Home-Serviços*/
#home-servicos-corpo{
  padding: 0 10% 0 10%;
}
#home-servicos-residencial-cta{
  position: relative;
  left: 0;
  bottom: 0;
}
#home-servicos-comercial-cta{
  position: relative;
  left: 0;
  bottom: 0;
}
/*Home Afiliados*/
#home-afiliados{
  background-image: url('../assets/bg-sala-organizada.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 25vh!important;
  color: #ffffff;
}

/*PORTIFÓLIO - Half page carousel*/
.bg-slide-1{
  background-image: url('../assets/portifolio-banner-pc-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-slide-2{
  background-image: url('../assets/portifolio-banner-pc-2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-slide-3{
  background-image: url('../assets/portifolio-banner-pc-3.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (orientation: portrait) {
  .bg-slide-1{
  background-image: url('../assets/portifolio-banner-cell-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  }
  .bg-slide-2{
    background-image: url('../assets/portifolio-banner-cell-2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .bg-slide-3{
    background-image: url('../assets/portifolio-banner-cell-3.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
header .view {
  height: 100%;
}
header .carousel {
  height: 70vh;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,.carousel .carousel-inner .active {
  height: 100%;
}
.carousel-overlay{
  background-color: #03002366;
}
.btn-carousel-personalizado{
  font-size: 1.1rem;
}
@media (max-width: 425px) {
  header .carousel {
    height: 100vh!important;
  }
}
/*SOBRE NÓS*/
#sobreNos-intro{
  background-image: url("../assets/bg-pincel-parede.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  color: #ffffff;
}
/*COMO FUNCIONA*/
#comoFunciona-intro{
  background-image: url("../assets/bg-sala-organizada.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

/*SERVICOS*/
.gifClickHere{
  height: 10vh;
}
.bg-servicos-residencial{
  background-image: url("../assets/servicos-residencial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.bg-servicos-comercial{
  background-image: url("../assets/servicos-comercial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.bg-servicos-residencial-2{
  background-image: url("../assets/servicos-segunda-view-residencial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.bg-servicos-comercial-2{
  background-image: url("../assets/servicos-segunda-view-comercial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
#servicos-intro-cta-residencial{
  bottom: 2vh;
  background-color: #ff7200;
}
#servicos-intro-cta-comercial{
  bottom: 2vh;
  background-color: #ff7200;
}

/*Footer*/
#footer-btn-faq{
  position: relative;
  bottom: 5px;
}
.faq-item{
  background-color: #007a8e;
  padding: 0;
  margin-bottom: 1rem;
  color: #ffffff !important;
}
.faq-title{
  border: 2px solid #FFFFFF;
  padding: 5px 1px;
}
.faq-title.hoverable:hover{
  box-shadow: 0 16px 28px 0 rgba(0,0,0,.22), 0 25px 55px 0 rgba(0,0,0,.21);
  transition: all .55s ease-in-out;
}
.faq-title i{
  float: right;
  position: relative;
  right: 10px;
  margin-top: 6px;
}

/*FOOTER*/
.footer-custom-color{
  background-color: #413f40;
}
.copyright-custom-color{
  background-color: rgba(0,0,0,.2);
}
.footer-link{
  font-size: 1rem!important;
  margin: 0.98rem;
}
.footer-img{
  max-height: 60px;
}

/*CSS DEV*/
.bgPreenchimento{
  background-color: #554A26 !important;
  color: #000000 !important;
}
.bgPreenchimento-2{
  background-color: #0099b2;
  color: #ffffff;
}
.bgPreenchimento-3{
  cursor: pointer;
}
.bgPreenchimento-4{
  background-color: #0b2e13;
  color: #ffffff;
}
.bgPreenchimento-5{
  background-color: #0041ad;
  color: #000000;
}
.btnPreenchimento{
  bottom: 2vh;
  background-color: #ff7200;
}
.faq-title a{
  color: #ffffff!important;
}